.sec-08-before-before {
  background-color: #fff;
}
.sec-08-before__title,
.sec-08-before__subtitle {
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $brand;
}
.sec-08-before__title {
  font-family: $font-bold;
  font-size: 30px;
  margin-bottom: 20px;
  @include max(680) {
    font-size: 24px;
  }
}
.sec-08-before__subtitle {
  font-family: $font-semibold;
  font-size: 18px;
  margin-bottom: 50px;
  @include max(680) {
    font-size: 16px;
  }
}
