.sec-12 {
  background-color: #fff;
  .container {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.sec-12__title,
.sec-12__subtitle {
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.sec-12__title {
  font-family: $font-bold;
  font-size: 30px;
  margin-bottom: 20px;
  color: $brand;
  span {
    color: $highlight;
  }
}
.sec-12__subtitle {
  font-family: $font-semibold;
  font-size: 16px;
  margin-bottom: 20px;
  color: $brand;
}
.sec-12__item {
  position: relative;
  display: flex;
  min-height: 320px;
  padding: 40px 0;
  &:last-child {
    &::after {
      display: none;
    }
  }
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    margin: auto;
    content: '';
    background-color: #e2e2e2;
  }
}
.sec-12__left,
.sec-12__middle {
  flex: none;
}

.sec-12__left {
  width: 20%;
  .sec-12__logo {
    margin-bottom: 20px;
    img {
      max-width: 90%;
    }
  }
  .sec-12__description {
    span {
      font-family: $font-bold;
      font-size: 18px;
      text-transform: uppercase;
      color: $highlight;
    }
    ul {
      margin-top: 0;
      margin-left: 0;
      padding: 0;
    }
    li {
      font-size: 14px;
      list-style: none;
    }
  }
  .sec-12__left-link {
    font-family: $font-bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $highlight;
    &:hover {
      text-decoration: none;
    }
  }
}
.sec-12__middle {
  width: 20%;
  a {
    outline: none;
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 210px;
    margin: 0 auto;
    border: 5px solid $highlight;
  }
}
.sec-12__right {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 20px;
  .sec-12__text {
    font-size: 12px;
    font-style: italic;
    position: relative;
    padding: 20px 15px 15px 25px;
    color: #363636;
  }
  .sec-12__text-open,
  .sec-12__text-close {
    position: absolute;
    width: 19px;
    height: 13px;
    background-image: url('../img/quotes.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .sec-12__text-open {
    top: 0;
    left: 0;
  }
  .sec-12__text-close {
    right: 0;
    bottom: 0;
  }
  .sec-12__signature {
    font-size: 14px;
    margin-top: auto;
    padding-left: 25px;
    color: $text;
  }
}

// @media only screen and (max-width: 1000px) {
//     .sec-12__left,
//     .sec-12__middle {
//         display: inline-block;
//         width: 30%;
//     }
//     .sec-12__right {
//         display: block;
//         width: 100%;
//         margin-top: 20px;
//     }
//     .sec-12__right {
//         padding: 0;
//         .sec-12__signature {
//             padding-left: 0;
//         }
//     }
// }
// @media only screen and (max-width: 640px) {
//     .sec-12__left,
//     .sec-12__middle {
//         width: 50%;
//     }
// }
// @media only screen and (max-width: 480px) {
//     .sec-12__left,
//     .sec-12__middle {
//         display: block;
//         width: 100%;
//         text-align: center;
//     }
//     .sec-12__description {
//         display: none;
//     }
//     .sec-12__middle {
//         margin-top: 20px;
//         text-align: left;
//         img {
//             max-height: 350px;
//         }
//     }
// }
