.sec-09 {
  background-color: #f1f1f1;
  .container {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.sec-09__title,
.sec-09__subtitle {
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $brand;
}
.sec-09__title {
  font-family: $font-bold;
  font-size: 30px;
  margin-bottom: 20px;

  @include max(680) {
    font-size: 24px;
  }
}
.sec-09__subtitle {
  font-family: $font-semibold;
  font-size: 16px;
  margin-bottom: 20px;

  @include max(680) {
    font-size: 14px;
  }
}
.sec-09__body {
  display: flex;
  align-items: center;
  min-height: 400px;
  padding-left: 320px;
  background-image: url('../img/sec-09.png');
  background-repeat: no-repeat;
  background-position: 70px 50%;

  @include max(680) {
    min-height: 0;
    padding-left: 0;
    background-image: none;
  }
}
.sec-09__body-list {
  max-width: 600px;

  @include max(880) {
    padding-left: 0;
  }
  li {
    font-size: 16px;
    position: relative;
    margin-bottom: 50px;
    padding: 0 0 0 45px;
    list-style: none;
    text-transform: uppercase;
    color: $brand;

    @include max(460) {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      content: '';
      background-image: url('../img/sec-09-ul.png');
    }
  }
}
.sec-09__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto ;

  @include max(880) {
    justify-content: space-around;
  }
  input {
    font-size: 14px;
    width: 100%;
    max-width: 210px;
    margin-bottom: 20px;
    border: 1px solid #a5a5a5;
    outline: none;

    @include placeholder-color(#a5a5a5);
    @include max(880) {
      width: 30%;
      max-width: 100%;
    }
    @include max(680) {
      width: 45%;
    }
    @include max(460) {
      width: 90%;
    }
    &:focus {
      border: 1px solid $highlight;
    }
  }
  .btn-sm {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    border: 1px solid $highlight;
  }
}
