.sec-08 {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include max(900) {
    min-height: 0;
  }
  .container {
    position: relative;

    @include max(900) {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
.sec-08__string {
  position: absolute;
  top: 90px;
  left: 50%;
  display: block;
  width: 1920px;
  margin: auto;
  transform: translateX(-50%);

  @include max(900) {
    display: none;
  }
}
// begin animation
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-2 {
  100% {
    transform: rotate(360deg);
  }
}
// end animation
.sec-08__planet {
  position: absolute;
  width: 148px;
  height: 148px;

  @include max(900) {
    display: none;
  }
}
.sec-08__planet-01 {
  top: 20px;
  left: -200px;
  animation: rotate 60s linear infinite;
}
.sec-08__planet-02 {
  top: 110px;
  right: -135px;
  animation: rotate-2 100s linear infinite;
}
.sec-08__planet-03 {
  top: 270px;
  left: -170px;
  animation: rotate 80s linear infinite;
}
.sec-08__item {
  position: absolute;
  width: 280px;
  text-align: center;

  @include max(900) {
    position: static;
    width: 30%;
    margin: 0 !important;
  }
  @include max(680) {
    width: 47%;
  }
  @include max(460) {
    width: 90%;
  }
}
.sec-08__item-01 {
  top: 40px;
  left: 0;
}
.sec-08__item-02 {
  top: 40px;
  right: 0;
  left: 0;
  margin: auto;
}
.sec-08__item-03 {
  top: 40px;
  right: 0;
}
.sec-08__item-04 {
  top: 212px;
  left: 150px;
}
.sec-08__item-05 {
  top: 212px;
  right: 150px;
}
.sec-08__item-title {
  font-size: 24px;
  line-height: 1;
  position: relative;
  margin: 0 0 50px 0;
  text-transform: uppercase;
  color: #fff;

  @include max(900) {
    margin-bottom: 20px;
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: -37px;
    left: 0;
    width: 21px;
    height: 21px;
    margin: auto;
    content: '';
    border-radius: 50%;
    background-color: $highlight;

    @include max(900) {
      display: none;
    }
  }
}
.sec-08__item-text {
  @include max(900) {
    margin-bottom: 30px;
  }
  p {
    font-size: 12px;
    color: #fff;
  }
}
.sec-08__slogan {
  position: absolute;
  top: 380px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;

  @include max(900) {
    position: static;
    margin-top: 20px;
    text-align: center;
  }
}
.sec-08__slogan-title {
  font-size: 18px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  color: #fff;

  @include max(900) {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
.btn-sm.sec-08__btn {
  margin: 0 20px;
  cursor: pointer;
}
.sec-08__rocket {
  transition: 5s;
  img {
    display: block;
  }
  &.active {
    margin-right: -4000px;
    margin-left: 4000px;
  }
}
