.sec-03 {
  background-color: #fff;
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}
.sec-03__title {
  line-height: 1;
  text-transform: uppercase;
  color: $title;
}
.sec-03__title-01 {
  font-family: $font-extrabold;
  font-size: 60px;
  margin-bottom: 0;
  letter-spacing: .3;

  @include max(680) {
    font-size: 40px;
  }
}
.sec-03__title-02 {
  font-family: $font-extrabold;
  font-size: 48px;
  margin-bottom: 5px;

  @include max(680) {
    font-size: 30px;
  }
}
.sec-03__title-03 {
  font-family: $font-extrabold;
  font-size: 41px;
  margin-bottom: 10px;

  @include max(680) {
    font-size: 26px;
  }
}
.sec-03__title-04 {
  font-family: $font-black;
  font-size: 101px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;

  @include max(680) {
    font-size: 70px;
    line-height: 100px;
  }
  @include max(490) {
    font-size: 66px;
    line-height: 1;
  }
  &::before,
  &::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    @include max(490) {
      display: none;
    }
  }
  &::before {
    top: 0;
    bottom: 0;
    left: -80px;
    width: 77px;
    height: 40px;
    margin: auto;
    background-image: url('../img/key-01.png');
  }
  &::after {
    top: 10px;
    right: -90px;
    width: 87px;
    height: 90px;
    background-image: url('../img/key-02.png');
  }
}
