.sec-13 {
  background-color: #fff;
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.sec-13__title,
.sec-13__subtitle {
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $brand;
}
.sec-13__title {
  font-family: $font-bold;
  font-size: 30px;
  margin-bottom: 20px;

  @include max(680) {
    font-size: 24px;
  }
  span {
    color: $highlight;
  }
}
.sec-13__subtitle {
  font-family: $font-semibold;
  font-size: 16px;
  margin-bottom: 40px;

  @include max(680) {
    font-size: 14px;
  }
}
.sec-13__body {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include max(880) {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.sec-13__item {
  width: 21%;
  margin-right: 4%;

  @include max(880) {
    width: 45%;
    margin: 0 0 20px 0;
  }
  @include max(460) {
    width: 90%;
  }
  &:last-child {
    margin-right: 0;
  }
}
.sec-13__item-highlight {
  .sec-13__item-header {
    background-color: #f5ec55;
  }
}
.sec-13__item-header {
  padding: 10px;
  background-color: #55d2f5;
}
.sec-13__item-title {
  font-family: $font-bold;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: $brand;
}
.sec-13__item-body {
  padding: 20px 10px;
  border-right: 1px solid $title;
  border-bottom: 1px solid $title;
  border-left: 1px solid $title;
}
.sec-13__old-price {
  font-family: $font-bold;
  font-size: 24px;
  line-height: 1;
  display: block;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  color: $brand;
}

.sec-13__new-price {
  font-family: $font-bold;
  font-size: 30px;
  line-height: 1;
  position: relative;
  display: block;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #1fd36b;
  &::before {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 26px;
    height: 36px;
    margin: auto;
    content: '';
    background-image: url('../img/arr-down.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}
.sec-13__item-list {
  margin: 0;
  padding: 0;
  li {
    font-size: 12px;
    position: relative;
    margin-bottom: 7px;
    padding: 0;
    padding-left: 10px;
    list-style: none;
    color: $brand;
    &::before {
      position: absolute;
      top: 7px;
      left: 0;
      width: 5px;
      height: 1px;
      content: '';
      background-color: $brand;
    }
  }
}
