//begin sec-02
section.sec-02#sec-02
  .container
    h2.sec-02__title Расчитаем стоимость и предложим идеи
    h3.sec-02__subtitle Оставьте свои контакты и мы начнем работать прямо сейчас!
    form.sec-02__form
      input(type="text" name="name" placeholder="Ваше имя")
      input(type="text" name="phone" placeholder="Телефон")
      input(type="submit" value="начать бесплатно").btn-sm.popup-send

    h2.sec-02__title А также...
    .sec-02__banner-wrap
      .sec-02__banner-cash
      .sec-02__banner
        h3.sec-02__banner-title
          |При заключении договора получи
          span 7000р.
          |на любую рекламу
        span.sec-02__banner-sicker 
          span 7
          =" "
          |тыс.
          br
          |руб


    h2.sec-02__title-lg Только этим летом
    button.btn-sm.popup-open хочу 7000р.!!!
//end   sec-02