//begin sec-09
section.sec-09
  .container
    header.sec-09__header
      h2.sec-09__title Есть сайт, но нет результата?
      h3.sec-09__subtitle Закажите аудит всего за 99 рублей, и гарантированно увеличьте конверсию своего сайта!
    .sec-09__body
      ul.sec-09__body-list
        li Узнаете ошибки сайта и контекстной рекламы по основным критериям
        li Сможете внедрить рекомендации самостоятельно и поднять продажи
        li Поймете ценность работы с нами - все честно! :)

    form.sec-09__form
      input(type="text" name="name"   placeholder="Ваше имя")
      input(type="text" name="phone"  placeholder="Телефон")
      input(type="text" name="adress" placeholder="Адрес сайта")
      input(type="submit" value="Получить аудит").btn-sm

          
//end   sec-09