//begin sec-06
section.sec-06(style="background-image: url('assets/img/bg-space.jpg');")
  .container
    h2.sec-06__title
      |Мобильную версию сайта
      span в подарок
    button.btn-sm.sec-06__btn.popup-open Получить
//end   sec-06