//begin sec-07
section.sec-07
  .container
    h2.sec-07__title Истории успеха
    h3.sec-07__subtitle что в итоге получили наши заказчики
    .sec-07__item
      .sec-07__item-text
        .sec-07__item-header
          h3.sec-07__item-title Автосервис R-Service
        .sec-07__item-body
          h4.sec-07__item-subtitle Многофункциональный автосервис в "Озерках"
          p С обновленным сайтом количество лояльных заказчиков увеличилось на 300%. Эффективность контекстной рекламы увеличилась на 400%
          a(href="#").sec-07__item-link r-service.ru
      .sec-07__item-pic
        .sec-07__item-pic-project(style="background-image: url('assets/img/project-01.jpg')")
        img(src="assets/img/mac.png", alt="macbook")
          
    .sec-07__item
      .sec-07__item-text
        .sec-07__item-header
          h3.sec-07__item-title Автосервис R-Service
        .sec-07__item-body
          h4.sec-07__item-subtitle Многофункциональный автосервис в "Озерках"
          p С обновленным сайтом количество лояльных заказчиков увеличилось на 300%. Эффективность контекстной рекламы увеличилась на 400%
          a(href="#").sec-07__item-link r-service.ru
      .sec-07__item-pic
        .sec-07__item-pic-project(style="background-image: url('assets/img/project-01.jpg')")
        img(src="assets/img/mac.png", alt="macbook")


//end   sec-07