//begin sec-10
section.sec-10
  .container
    header.sec-10__header
      h2.sec-10__title 
        |А еще мы
        =" "
        span всегда на связи
      h3.sec-10__subtitle Следите и улучшайте ваш проект вместе с нами, в любом месте, в любое время! своего сайта!
    .sec-10__body
      ul.sec-10__body-list
        li
          span Обсуждайте новые идеи и правки
          br
          | Вносите изменения в проект и предлагайте идеи с помощью своего смартфона быстро и без лишней официальности
        li
          span Узнавайте о состоянии проекта
          br
          | Хоть мы и молодцы, вы вправе волноваться о ходе работ! Менеджер сориентирует в каком состоянии проект и уточнит сроки
        li
          span Наслаждайтесь процессом
          br
          | Только получая удовольствие, можно достичь высоких результатов, делайте серьезные суммы с улыбкой на лице с mediaboost!

      .sec-10__callme
        .sec-10__callme-header
          h3.sec-10__callme-title.sec-10__callme-title-01 Пиши!
          h3.sec-10__callme-title.sec-10__callme-title-02 Ответим за 3 минуты!
        span.sec-10__callme-phone +7 (999) 021-76-74
        span.sec-10__callme-footer или дадим дополнительную скидку 5%


          
//end   sec-10