//begin sec-03
section.sec-03
  .container
    h3.sec-03__title.sec-03__title-01 Сделаем вам продажи
    h3.sec-03__title.sec-03__title-02 Приведем целевого клиента
    h3.sec-03__title.sec-03__title-03 Начнем зарабатывать вам деньги
    h2.sec-03__title.sec-03__title-04 Под ключ

//end   sec-03