//begin sec-04
section.sec-04
  .container
    h2.sec-04__title
      |Мы решим все ваши задачи 
      =" "
      span под ключ
    h3.sec-04__subtitle Зачем нужен красивый и современный сайт? Он решает намного больше задач, чем вы думаете!

    .sec-04__item-list
      .sec-04__item
        .sec-04__item-icon
          span.sec-04__item-icon-numb 1
        .sec-04__item-text
          h3.sec-04__item-title Вам доверяют
          p Сайт который дорого выглядит, сразу располагает к себе посетителя. Если выглядит дорого - значит компания надежная и ей можно довериться. 

      .sec-04__item
        .sec-04__item-icon
          span.sec-04__item-icon-numb 2
        .sec-04__item-text
          h3.sec-04__item-title Вас запоминают
          p Яркий красочный сайт с цепляющими элементами проще запомнить. Если посетителю понравилось, значит скорее всего он вернется к вам снова.

      .sec-04__item
        .sec-04__item-icon
          span.sec-04__item-icon-numb 3
        .sec-04__item-text
          h3.sec-04__item-title У вас покупают
          p Если дорого, значит надежно. Эта мысль крепко засела в умах покупателей, хоть и не всегда отражает действительность. Так почему бы это не использовать?

      .sec-04__item
        .sec-04__item-icon
          span.sec-04__item-icon-numb 4
        .sec-04__item-text
          h3.sec-04__item-title Вас рекомендуют
          p Яркий красочный сайт с цепляющими элементами проще запомнить. Вероятность, что покупатель всполмнит о вас и порекомендует друзьям намного выше. 

      

//end   sec-04