//begin sec-05
section.sec-05
  .container
    h2.sec-05__title
      |А почему стоит
      =" "
      span заказать сайт
      =" "
      |у нас?
    .sec-05__item-list
      .sec5__item
        .sec5__item-icon
          img(src="assets/img/icons/sec-05-01.png", alt="icon")
        .sec5__item-text
          h3.sec5__item-title Не используем шаблоны
          p Вся разработка - строго индивидуальна и нацелена на вашу аудиторию

      .sec5__item
        .sec5__item-icon
          img(src="assets/img/icons/sec-05-02.png", alt="icon")
        .sec5__item-text
          h3.sec5__item-title Гарантируем, что вам понравится
          p И вам, и вашим клиентам. Мы сделаем так, что люди запомнят ваш сайт и будут возвращаться.

      .sec5__item
        .sec5__item-icon
          img(src="assets/img/icons/sec-05-03.png", alt="icon")
        .sec5__item-text
          h3.sec5__item-title Удобно наполнять и поддерживать
          p Вы без проблем сможете внести нужные изменения на сайте самостоятельно.

//end   sec-05