//begin sec-11
section.sec-11(style="background-image: url('assets/img/bg-space.jpg');")
  .container
    header.sec-11__header
      h2.sec-11__title Что в итоге??
      h3.sec-11__subtitle Начав работать с нами вы получаете:
    
    .sec-11__list
      .sec-11__item
        .sec-11__item-numb
          span 1
        h4.sec-11__item-text 
          |Мобильную 
          br
          |версию сайта
      .sec-11__item
        .sec-11__item-numb
          span 2
        h4.sec-11__item-text 
          |7000 рублей
          br
          | на рекламу
      .sec-11__item
        .sec-11__item-numb
          span 3
        h4.sec-11__item-text 
          |Аудит сайта
          br
          | в подарок


    h3.sec-11__form-title Оставьте заявку и заберите свои бонусы!
    form.sec-11__form
      input(type="text" name="name" placeholder="Ваше имя")
      input(type="text" name="phone" placeholder="Телефон")
      input(type="submit" value="хочу аудит!").btn-sm


          
//end   sec-11