//begin sec-12
section.sec-12
  .container
    header.sec-12__header
      h2.sec-12__title 
        |Решим все ваши задачи
        =" "
        span под ключ

      h3.sec-12__subtitle Зачем нужен красивый и современный сайт? Он решает намного больше задач, чем вы думаете!
    
    .sec-12__list
      .sec-12__item
        .sec-12__left
          .sec-12__logo
            img(src='assets/img/review-logo.png', alt='review logo')
          .sec-12__description
            span Услуги:
            ul
              li Создание сайта
              li Поддержка
          a.sec-12__left-link(href='#') Перейти на сайт
        .sec-12__middle
          a(href='assets/img/seftificate/sert-big-01.jpg', data-fancybox="gallery")
            img(src='assets/img/seftificate/sert-small-01.jpg', alt='seftificate')
        .sec-12__right
          .sec-12__text
            span.sec-12__text-open
            |Я с удовольствием утверждаю все модернизации сайта, которые предлагают специалисты компании ProShift, потому что на себе поувствовал, что данные инвестиции быстро окупаются.
            br
            |Наше сотрудничество с ProShift считаю плодотворным и эффективным.
            br
            br
            br
            |Я не думал, что заниматься сайтом будет так увлекательно.
            span.sec-12__text-close
          .sec-12__signature
            |Константин Шаповал
            br
            |Генеральный директор ООО “Креатив Моторс”
            
      .sec-12__item
        .sec-12__left
          .sec-12__logo
            img(src='assets/img/review-logo.png', alt='review logo')
          .sec-12__description
            span Услуги:
            ul
              li Создание сайта
              li Поддержка
          a.sec-12__left-link(href='#') Перейти на сайт
        .sec-12__middle
          a(href='assets/img/seftificate/sert-big-01.jpg', data-fancybox="gallery")
            img(src='assets/img/seftificate/sert-small-01.jpg', alt='seftificate')
        .sec-12__right
          .sec-12__text
            span.sec-12__text-open
            |Я с удовольствием утверждаю все модернизации сайта, которые предлагают специалисты компании ProShift, потому что на себе поувствовал, что данные инвестиции быстро окупаются.
            br
            |Наше сотрудничество с ProShift считаю плодотворным и эффективным.
            br
            br
            br
            |Я не думал, что заниматься сайтом будет так увлекательно.
            span.sec-12__text-close
          .sec-12__signature
            |Константин Шаповал
            br
            |Генеральный директор ООО “Креатив Моторс”
            
      .sec-12__item
        .sec-12__left
          .sec-12__logo
            img(src='assets/img/review-logo.png', alt='review logo')
          .sec-12__description
            span Услуги:
            ul
              li Создание сайта
              li Поддержка
          a.sec-12__left-link(href='#') Перейти на сайт
        .sec-12__middle
          a(href='assets/img/seftificate/sert-big-01.jpg', data-fancybox="gallery")
            img(src='assets/img/seftificate/sert-small-01.jpg', alt='seftificate')
        .sec-12__right
          .sec-12__text
            span.sec-12__text-open
            |Я с удовольствием утверждаю все модернизации сайта, которые предлагают специалисты компании ProShift, потому что на себе поувствовал, что данные инвестиции быстро окупаются.
            br
            |Наше сотрудничество с ProShift считаю плодотворным и эффективным.
            br
            br
            br
            |Я не думал, что заниматься сайтом будет так увлекательно.
            span.sec-12__text-close
          .sec-12__signature
            |Константин Шаповал
            br
            |Генеральный директор ООО “Креатив Моторс”
            
          
//end   sec-12