//begin sec-08-before
section.sec-08-before
  .container
    h2.sec-08-before__title Истории успеха
    h3.sec-08-before__subtitle что в итоге получили наши заказчики
    
          
//end   sec-08-before