//begin sec-01
section.sec-01#sec-01(style="background-image: url('assets/img/bg-space.jpg');")
  include ../elements/solar-system
  .container
    h2.sec-01__title 
      |Продающий сайт - это 
      =" "
      span к нам!
    h3.sec-01__subtitle
      span современный
      =" "
      | веб-сайт класса 
      =" "
      span премиум
      =" "
      | по
      span выгодной цене
      |,
      span приносящий прибыль
      =" "
      | вашему бизнесу

    .sec-01__pic
      img(src="assets/img/sec-01.png", alt="top picture")


    
//end   sec-01