//begin sec-13
section.sec-13
  .container
    header.sec-13__header
      h2.sec-13__title 
        |Наши цены
        =" "
        |не кусаются
      h3.sec-13__subtitle Зачем нужен красивый и современный сайт? Он решает намного больше задач, чем вы думаете!
    
    .sec-13__body
      .sec-13__item
        .sec-13__item-header
          h4.sec-13__item-title Лайт
        .sec-13__item-body
          span.sec-13__old-price 
            del 9 900р.
          span.sec-13__new-price 6 900р.
          ul.sec-13__item-list
            li 14 дней профессионального продвижения
            li Аудит Вашего аккаунта
            li Разработка стратегии продвижения
            li Таргетирование ЦА по активности, полу, возрасту и географии
            li До 15.000 касаний c ЦА
            li Постоянная онлайн-поддержка

      .sec-13__item
        .sec-13__item-header
          h4.sec-13__item-title Оптима
        .sec-13__item-body
          span.sec-13__old-price 
            del 9 900р.
          span.sec-13__new-price 6 900р.
          ul.sec-13__item-list
            li 30 дней  продвижения
            li Аудит Вашего аккаунта
            li Разработка стратегии продвижения
            li Наши рекомендации по оформлению и ведению аккаунта
            li Подбор хэш-тегов
            li Таргетирование ЦА по активности, полу, возрасту и географии
            li До 30.000 касаний c целевой аудиторией
            li Постоянная онлайн-поддержка
            li Отчет о проделанной работе

      .sec-13__item.sec-13__item-highlight
        .sec-13__item-header
          h4.sec-13__item-title Премиум
        .sec-13__item-body
          span.sec-13__old-price 
            del 9 900р.
          span.sec-13__new-price 6 900р.
          ul.sec-13__item-list
            li 30 дней  продвижения
            li Аудит Вашего аккаунта
            li Разработка стратегии продвижения
            li Профессиональное оформление вашего аккаунта
            li Персональный контент-менеджер
            li Создание уникальных и продающих постов
            li Ежедневный постинг контента и ведение аккаунта
            li Подбор хэш-тегов
            li Вывод в ТОП позиции
            li Таргетирование ЦА по активности, полу, возрасту и географии
            li Цена потенциального клиента от 0,49 рублей
            li До 45.000 касаний c целевой аудиторией
            li Постоянная онлайн-поддержка
            li Отчет о проделанной работе

      .sec-13__item
        .sec-13__item-header
          h4.sec-13__item-title Таргетинг
        .sec-13__item-body
          span.sec-13__old-price 
            del 9 900р.
          span.sec-13__new-price 6 900р.
          ul.sec-13__item-list
            li Разработка объявлений и креативов
            li Подбор целевой аудитории (пол, возраст, геолокация, интересы, образование, семейное положение и т.д.)
            li Запуск официальной рекламы в Instagram
            li Показ рекламных постов в ленте пользователей Instagram
            li Управление ставками, контроль расхода бюджета
            li Ведение и оптимизация кампании

//end   sec-13