//begin sec-08
section.sec-08(style="background-image: url('assets/img/bg-space.jpg');")
  img(src="assets/img/string.png", alt="string").sec-08__string
  .container
    .sec-08__planet.sec-08__planet-01
      img(src="assets/img/planet-01.png", alt="planet")
    .sec-08__planet.sec-08__planet-02
      img(src="assets/img/planet-02.png", alt="planet")
    .sec-08__planet.sec-08__planet-03
      img(src="assets/img/planet-03.png", alt="planet")
    .sec-08__item.sec-08__item-01
      h3.sec-08__item-title Дизайн
      .sec-08__item-text
        p Дизайн это не только красивая картинка - это общение с посетителем, это направление покупателя к тому, что ему нужно, доступное, понятное, удобное.
    .sec-08__item.sec-08__item-02
      h3.sec-08__item-title Структура
      .sec-08__item-text
        p Привести посетителя к нужному товару/услуге в 1-2 клика, зачастую непростая задача, но эт этого напрямую зависят продажи.
    .sec-08__item.sec-08__item-03
      h3.sec-08__item-title Верстка
      .sec-08__item-text
        p Чтобы сделать сайт живым, приятным в использовании, а также прекрасно выглядящим на мобильных устройствах, требуется качественная верстка. имено такую мы и делаем
    .sec-08__item.sec-08__item-04
      h3.sec-08__item-title Наполнение
      .sec-08__item-text
        p Продает не сайт, и не реклама. Продает - контент. Качественный контент, цепляющие заголовки, побуждающие совершить действие. Все это также важно.
    .sec-08__item.sec-08__item-05
      h3.sec-08__item-title Наполнение
      .sec-08__item-text
        p Продает не сайт, и не реклама. Продает - контент. Качественный контент, цепляющие заголовки, побуждающие совершить действие. Все это также важно.

    .sec-08__slogan
      h3.sec-08__slogan-title Начните завоевывать космос интернета прямо сейчас
      button.btn-sm.sec-08__btn Начать!
      .sec-08__rocket
        img(src="assets/img/rocket.png", alt="rocket")

          
//end   sec-08