// BEGIN #solar-system
.solarsystem-outer
  #solarsystem
    #sun
    #mercury.planet
    #venus.planet
    #earth.planet
      #moon
    #mars.planet
    #jupiter.planet
    #saturn.planet
    #uranus.planet
    #neptune.planet
// END #solar-system
