// ***** main colors *******
$brand: #00407a;
$brand-hov: #013a6e;

$highlight: #751540;
$highlight-hov: #59233b;

// ***** text colors *******
$text: #646464;
$title: #141414;

$link-color: $brand;
$link-color-hov: $highlight;

// ===== fonts =====
$font:            'OpenSans', sans-serif;
$font-bold:       'OpenSans-Bold', sans-serif;
$font-light:      'OpenSans-Light', sans-serif;
$font-semibold:   'OpenSans-Semibold', sans-serif;

// ===== sizes =====
$radius-button: 5px;
$radius-tab: 5px;