// ***** main colors *******
$brand: #042342;

$highlight: #62e0ff;

// ***** text colors *******
$text: #363636;
$title: #042342;

$link-color: $brand;
$link-color-hov: $highlight;

// ===== fonts =====
$font:            'OpenSans', sans-serif;
$font-bold:       'OpenSans-Bold', sans-serif;
$font-semibold:   'OpenSans-Semibold', sans-serif;
$font-black:      'Akrobat-Black', sans-serif;
$font-extrabold:  'Akrobat-ExtraBold', sans-serif;

// ===== sizes =====
$radius-button: 5px;
$radius-tab: 5px;