extends ../_template

block variables
  - var title = 'Proshift contructor'

block content
  //- include ../sections/header
  
  //begin content
  section.main
    include ../sections/sec-02
    include ../sections/sec-03
    include ../sections/sec-04
    include ../sections/sec-05
    include ../sections/sec-06-before
    include ../sections/sec-06

  //end   content

  //- include ../elements/popup
  include ../sections/footer