extends ../_template

block variables
  - var title = 'Proshift contructor'

block content
  //- include ../sections/header
  
  //begin content
  section.main
    include ../sections/sec-6-before
    include ../sections/sec-6

  //end   content

  //- include ../elements/popup
  include ../sections/footer